#myDiv {
  text-align: justify;
  text-align: center;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 250px;
  margin-right: 250px;
}

#timer {
  text-align: center;
  font-weight: bold;
  height: 50px;
  margin-top: 50px;
  font-size: 30px;
}

h1 {
  text-align: center;
  margin-top: 75px;
}

h4 {
  text-align: center;
  margin-top: 0px;
  font-style: italic;
}

